
/*Nuevos estilos*/

body {
  background-color: #e0e0e0;
  background-image: url('/assets/fondo.png');
  margin: 0 auto;

  
}

#title {
  text-align: center;
}
.banner {
height: 75px;
margin: 0px -10px 10px;
background-color: #0D6EFD;
border-radius: 2px;
display: block;
}

.banner h1{
  color: white;
  padding-top: 5px;
  margin-left: 2%;
  display: inline-block;
  text-align: center;
}

.banner Img{
  position: relative;
  float: right;
  right: 30px;
  height: 75px;
}

.create_container {
  border-radius: 10px;
  background-color: #F4F6F6;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #A569BD;


}

.create_container2 {
  border-radius: 10px;
  background-color: #2980B9;
  margin: 10px;
  padding: 10px;
  position: relative;
  box-shadow: 4px 4px 4px 4px rgb(235, 239, 243);
  overflow-y:auto
}

.create_container1 {
  margin: 0 auto;
  }

.dcc_compon {
  margin: 0 auto;
  padding: 5px;
  width: calc(100%-40px);
}

.fix_label {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
}

.flex-display {
  display: flex;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}
.custom-dropdown {
  width: 100%;
  padding: 12px;
  border: 2px solid #378DFC; /* Cambiamos el color del borde a #378DFC */
  border-radius: 5px;
  background-color: #378DFC;
  color: #333;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-dropdown:hover {
  border-color: #0056b3; /* Cambiamos el color del borde al pasar el cursor */
}

.custom-dropdown:focus {
  border-color: #0056b3; /* Cambiamos el color del borde cuando se enfoca */
  box-shadow: 0 0 8px rgba(55, 141, 252, 0.5); /* Cambiamos el color de la sombra */
  outline: none;
}

.custom-dropdown::placeholder {
  color: #801e1e;
}

.custom-dropdown option {
  background-color: #c00b0b;
  color: #333;
}

.custom-dropdown::-ms-expand {
  display: none;
}

.custom-dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

